<%- include('layouts/header'); -%>
<body>
    <h1>Index</h1>
<a href="/about">About</a>
<br>

<br>
<p id="demo">A paragraf</p>
<button type="button" onclick="myFunction()">Try it</button>

<%- include('layouts/scripts'); -%>
</body>
</html>